@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@900&family=PT+Sans+Narrow&display=swap");

:root {
    /* change the values below to your chosen font(s) */
    --heading-font: "M PLUS 1p";
    --paragraph-font: "PT Sans Narrow";
}


body {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    background-color: whitesmoke;
}

header h1 {
    font-family: var(--heading-font);
    color: white;
    text-align: center;
   background-color: goldenrod;
    padding: 40px;
    font-size: 37px;
    margin-bottom: 50px;
}

footer p {
    font-family: var(--paragraph-font);
    color: white;
    text-align: center;
    background-color: goldenrod;
    font-size: 24px;
    padding: 10px;
    margin-top: 100px;
}

h2 {
    font-size: 26px;
    font-family: var(--heading-font);

}

h4{
    font-family: var(--paragraph-font);
    text-transform:uppercase;
    font-size: large;
}

header nav ul {
    display: flex;
    background-color: black;
    list-style: none;
    padding: 10px;
    margin: 0 auto;
}

header nav ul li {
    flex: 2 2 auto;
    text-align: center;
}

header nav ul li a {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: var(--paragraph-font);
    text-decoration: none;
    padding: 10px;
}

header a:hover {
    color: black;
    background-color: goldenrod;
}

span {
    display: grid;
    margin-top: 60px;

}

.special {
    display: grid;
    margin-top: 10px;
}

.page-four,
.page-five {
    display: grid;
    margin-top: 60px;

}


