@media only screen and (min-width: 1028px) {
    header, footer, main {max-width: 75rem; margin: auto;}

    #main{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #firstCard,
    #secondCard,
    #thirdCard {
        height: 800px;

    }
}