@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@900&family=PT+Sans+Narrow&display=swap");

:root {
    /* change the values below to your chosen font(s) */
    --heading-font: "M PLUS 1p";
    --paragraph-font: "PT Sans Narrow";
}


header h1 {
    margin: 0;
    font-size: 1.3rem;
    color: white;
}

header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
    color: white;
}


header {
    display: flex;
    background-color: #003a13;
    padding: 1rem;
    font-family: var(--paragraph-font);
}

header img {
    float: left;
    margin-right: 10px;
    width: 40px;
}


  .my_logo {
    width: 20%;
    height: 85%;
    padding: 4px;
    border-radius: 25px;
    background-color: #dbdbdb;
  }  

  #c_pic {
    width: 35%;
    height: 30%;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem; */
} 

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #00220f;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #7ceea2;
}

nav ul li.active a {
    background-color: #007728;
    color: #ffffff;
}


#main {
    padding: 1rem;
} 

hr{
  background-color: #c9e954;  
  height: 10%;
  
}

/* /* h2 , h1{
    color: #ffffff;
    font-family: var(--heading-font)
    
} 

h3 {
    font-family: var(--heading-font)
} */

p {
    font-family: var(--paragraph-font);
    font-size: 18px;
}



footer {
    background-color: #003a13;
    color: rgb(219, 219, 219);
    text-align: center;
    padding: 1rem;
    /* border-radius: 1rem; */
    font-size: 18px;
}
