@media only screen and (min-width: 35rem) {

    :root{
        --heading-font: "M PLUS 1p";
        --paragraph-font: "PT Sans Narrow";
        --background-color: #003a13;
        --green-color: rgb(0, 184, 0);
        --orangeGreen: rgb(183, 243, 61);
    }
    nav button {
        display: none;
    }

    nav ul#primaryNav{
        display:flex;
        justify-content: center;
        margin-left: 1vw;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }   


    #mainHero {
        background-image: url('../images/medium.jpg');
     }
     

     .description{
        margin-left: 10px;
        text-align: center;
        font-family: var(--paragraph-font);
        color: var(--orangeGreen);
        font-size: 16px;
        margin-left: 300px;
        margin-right: 300px;
      
      }


/* ############### join Page######################## */
      .join-page {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto 80px;
    }

.top{
    align-self: start;
}

    .join-small-view,
    .beni-bellow em {display: none;}

    form {
        grid-column: 1/2;
        grid-row: span 3;
        align-self: flex-start;
        margin-top: -43px;
    }

    .join-large-view
    {
        display: grid;
        grid-column: 1/3;
        color:var(--background-color);
        text-shadow: 1px 1px 1px black;
        text-align: center;
        background-color: black;
        padding: 15px;
        margin-top: 5px;
        font-family: var(--paragraph-font);
        margin-bottom: 40px;
        font-size: 24px;
    }

    .form-title {
        display: grid;
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        color: var(--background-color);
        font-family: var(--paragraph-font);
        margin: auto;
    }

    .table-title {
        display: grid;
        grid-column: 2/3;
        grid-row: 2/3;
        margin: auto;
    }

    table.benefits {
        width: 100%;
        margin: .5rem auto;
        grid-column: 2/3;
        grid-row: span 3;
        align-self: start;
    }
   
    table th[scope='col'] {
        border: 5px solid black;
        padding: 15px 5px;
        font-size: large;
    }
    
    .first-col {
        width: 15%;
        height: 45px;
    }


 }