@media only screen and (min-width: 35rem) {

    nav button {
        display: none;
    }

    nav ul#primaryNav{
        display:flex;
        justify-content: center;
        margin-left: 1vw;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }   


    #mainHero {
        background-image: url('../images/medium.jpg');
        /* background-size: cover; */
        /* background-position: center; */
        /* background-size: cover;
        background-position: center;
        height: 200px;
        display: grid;
        grid-template-columns: 4fr;
        grid-template-rows: 5fr;
        color: red;
        font-size: larger;
        text-align: left;
        padding: 1rem;
        font-family: var(--heading-font); */
     }
     


 }