@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@900&family=PT+Sans+Narrow&display=swap");

:root {
   /* change the values below to your chosen font(s) */
   --heading-font: "M PLUS 1p";
   --paragraph-font: "PT Sans Narrow";
   --background-color: #003a13;
   --green-color: rgb(0, 184, 0);
   --orangeGreen: rgb(183, 243, 61);
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

#topMessage {
   display: flex;
   margin: 5px;
   font-family: var(--paragraph-font);
   padding: 10px;
   justify-content: center;
   background-color: var(--orangeGreen);

}

.closeBtn {
   margin-left: 10px;
   text-decoration: none;
}

.closeBtn:hover {
   text-decoration: underline;
   cursor: pointer;

}

.clearfix:after {
   content: "";
   display: table;
   clear: both;
}

header {
   background-color: var(--background-color);
   padding-bottom: 10px;
}

.main_header {
   display: grid;
   grid-template-columns: 4fr .5fr .5fr;
   grid-gap: 1px;
   padding-left: 5px;
   padding-right: 5px;
}

h1,
h2 {
   font-family: var(--heading-font);
   color: rgb(183, 243, 61);
}

p,
nav {
   font-family: var(--paragraph-font);
}

#logo {
   display: flex;
   margin: auto;
   margin-left: 15px;
}

#logo img {
   margin-right: 1rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
   max-width: 70px;
   max-height: 70px;
   padding: 2px;
   border-radius: 20px;
   background-color: #dbdbdb;
}

#logo h1 {
   font-size: 16px;
   margin-top: 15px;
   font-family: var(--heading-font);
}

#logo h2 {
   font-size: 13.5px;
   margin-top: -10px;
   font-family: var(--paragraph-font);
}

#logo div {
   margin-top: 20px;
}

#social_media {
   display: flex;
   margin: 0;
   padding: 10px;
   margin-top: 30px;
}

#social_media img {
   width: 30px;
   height: 30px;
   margin-left: 8px;
   border-radius: 20px;
   background-color: #dbdbdb;
   padding: 2px;
}

nav {
   background-color: transparent;
   font-size: 15px;
}

nav button {
   background-color: transparent;
   border: 1px solid white;
   font-size: 1.4rem;
   color: #eee;
   margin-top: 45px;
   margin-left: -4px;
}

nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   margin-bottom: 10px;
}

nav ul li a {
   display: block;
   padding: .8rem 2vw;
   text-decoration: none;
   color: white;
   border-top: thin solid rgba(255, 255, 255, 0.1);
}

.contact {
   border-bottom: thin solid rgba(255, 255, 255, 0.1);
}

nav ul li a:hover {
   background-color: rgba(0, 0, 0, 0.3);
}

nav ul li.join a {
   background-color: rgba(0, 0, 0, 0.3);
   color: #fff;
}

nav ul {
   display: none;
}

nav ul.open {
   display: block;
}

#hamburgerBtn span:nth-child(1) {
   display: block;
}

#hamburgerBtn span:nth-child(2) {
   display: none;
}

#hamburgerBtn.open span:nth-child(1) {
   display: none;
}

#hamburgerBtn.open span:nth-child(2) {
   display: block;
}

#dateToday {
   background-color: rgba(0, 0, 0, 0.3);
   padding: 2px;
   font-family: 'Nunito', sans-serif;
   color: white;
   border: solid rgba(255, 255, 255, 0.5);
   border-width: thin;
   text-align: center;
   font-size: 17px;
   width: 95%;
   margin: auto;
}

main {
   display: block;
   text-align: center;
   background-color: rgb(128, 179, 115);
   margin: 5px;
   font-family: var(--paragraph-font);
   font-size: 18px;
}

#mainHero {
   position: relative;
   border: 3px solid var(--background-color);
   background-image: url('../images/small.jpg');
   background-size: cover;
   background-position: center;
   height: 200px;
   display: grid;
   grid-template-columns: 4fr;
   grid-template-rows: 5fr;
   color: red;
   /* font-size: larger; */
   text-align: left;
   padding: 1rem;
   font-family: var(--heading-font);
}

#Join {
   grid-column: 4/5;
   grid-row: 6/6;
   font-size: 15px;
   margin-bottom: 15px;
   margin-right: 15px;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: var(--green-color);
   border-radius: 25px;
}

.heroBtnText {
   color: white;
   text-decoration-line: none;
   font-size: medium;
}

#link {
   color: rgb(183, 243, 61);
}

#event {

   background-color: rgb(0, 32, 10);
   margin-top: 5px;
   height: 200px;
}

#eventDiv {
   padding-top: 1rem;
   font-size: 15px;
   color: white;
   background-color: rgba(0, 0, 0, 0.3);
   height: 100%;
}

#weather {
   background-image: url('../images/weather.jpg');
   background-size: fill;
   margin-top: 2px;
   color: white;
}

.weather span,
.weather p {
   color: rgb(228, 8, 8);
   margin: 0;
   margin-left: 10px;
}


#news {
   border: thin solid rgb(194, 194, 194);
   background-color: rgb(0, 32, 10);
   margin-top: 5px;
   margin-bottom: 5px;
   height: 200px;
}

#newsDiv {
   color: rgb(183, 243, 61);
   padding: 0px 15px;
}

#latestNews {
   font-family: var(--paragraph-font);
   color: white;
   font-size: 15px;
}

#spotlightSection {
   border: 3px solid rgb(183, 243, 61);
   background-color: rgb(0, 32, 10);
   padding: 5px 5px 5px 5px;
}

#spotlight1 {
   border: 1px solid rgb(183, 243, 61);
   margin-top: -5px;
   height: 200px;
   color: white;
}

#spotlight1 p {
   font-size: 15px;
}

#sport_image {
   padding-top: 5px;
   padding-bottom: 5px;
}

#spotlight2 {
   background-image: url('../images/code.png');
   background-size: cover;
   border: thin solid rgb(183, 243, 61);
   background-color: #eee;
   margin-top: 5px;
   height: 200px;
}

#spotlight3 {
   display: none;
   border: thin solid rgb(183, 243, 61);
   background-color: var(--background-color);

   height: 200px;
   color: white;
}

#accraCart p {
   font-size: 15px;
}


#join {
   color: rgb(183, 243, 61);
   background-color: #003a13;
   margin-top: 5px;
   height: 200px;
   Padding: 25px;
}

#join a {
   color: white;
   background-color: var(--green-color);
   font-size: 30px;
   text-decoration: none;
   border: 2px solid var(--lightgreen);
   padding: 5px 15px;
   border-radius: 20px;
}

#join a:link {
   text-decoration: none;
   color: rgb(54, 228, 20);
}

#join a:hover {
   text-decoration: none;
   color: var(--extralightgreen);
}

#join p {
   padding-top: 20px;
   color: white;
   font-size: 15px;
}

#sub-footer {
   border-top: 2px solid var(--darkgreen);
   padding-top: 25px;
}

#page-container {
   position: relative;
   min-height: 100vh;
}

#footerIMG {
   margin: 1rem;
   max-width: 110px;
   max-height: 110px;
   padding: 4px;
   border-radius: 25px;
   background-color: #dbdbdb;
}

footer p {
   font-family: var(--paragraph-font);
}

footer h4 {
   font-family: var(--paragraph-font);
}

footer {
   display: block;
   background-color: var(--background-color);
   color: rgb(219, 219, 219);
   text-align: center;
   padding: 1rem;
   font-size: 18px;
}

#page-container {
   position: relative;
   min-height: 100vh;
}







/*################           CSS FOR DISCOVER PAGE           ############################ */
.discoverMain {
   display: grid;
   grid-template-columns: auto;
}

.allImages {
   width: 420px;
   height: 200px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   margin-top: 3px;

}

.myImage {
   background-color: var(--background-color);
   border-radius: 20px;
   margin-top: 2.5px;
   margin-bottom: 2.5px;
}

.description {
   margin-top: 4px;
   margin-bottom: 5px;
   text-align: center;
   margin-left: 10px;
   font-family: var(--paragraph-font);
   color: var(--orangeGreen);
   font-size: 16px;

}

.roundImage {
   background-color: var(--orangeGreen);
   border-radius: 20px;
   margin-bottom: 2.5px;
}




/* ######### form ########### Join Page ######################### */

.join-page {
   display: block;
   margin: auto;
   font-family: var(--paragraph-font);
   box-sizing: border-box;
   background-color: lightgrey;

}


.join-large-view,
.form-title {
   display: none;
}

.join-small-view{
color: var(--orangeGreen);
background-color: black;
padding: 1rem;
font-family: var(--paragraph-font);
}

form {
   padding: 5px;
   display: block;
   margin-top: 5px;
   text-align: start;
}

form fieldset {
   margin: 2rem auto;
   border: 2px solid black;
   background-color: lightcyan;
   border-radius: 10px;
   padding: .5rem 2%;
   box-shadow: grey;
}

form legend {
   color: var(--background-color);
   margin: 0 1rem;
   padding: 0 .5rem;
   font-weight: bold;
   font-size: 18px;
}

form label span {
   color: red;
   font-weight: bold;
}

form label.top {
   display: block;
   padding-top: 1rem;
   color: black;
   font-size: 16px;
   padding-bottom: 10px;
   align-items: start;
}

form .beni-bellow em {
   font-size: 14px;
}

form label.top input {
   display: block;
   font-size: 1rem;
   border: solid 2px darkgrey;
   border-radius: 4px;
   padding: .75rem;
   color: #555;
   width: 100%;
   max-width: 20rem;
   background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
   display: block;
   padding: .75rem 0;
   text-align: start;
}

form input.submitBtn {
   align-items: center;
   border: none;
   background-color: var(--background-color);
   color: white;
   border-radius: 1rem;
   padding: .75rem 1rem;
   margin: 0 0 2rem 2%;
   width: 76%;
   max-width: 15rem;
   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.496);
   cursor: pointer;
}

form .submitBtn:hover {
   color: lightcyan;
   transform: scale(1.04);
}

form textarea {
   display: block;
   border: solid 2px darkgrey;
   background-color: rgba(0, 0, 0, 0.1);
   padding: .75rem;
}

form label.top input:required {
   border: rgb(246, 100, 100) solid 2px;
}

form label.top input:required:valid {
   border: greenyellow solid 2px;
}

form label.top input:valid,
form label.top textarea:valid {
   border: greenyellow solid 2px;
}

.table-title {

   font-family: var(--paragraph-font);
   color: var(--background-color);
   text-align: center;
   margin: -10px auto;
   padding: .5rem 3.4%;
   margin-bottom: -29px;
}

table {
   border-collapse: collapse;
   margin: 0;
   table-layout: fixed;
   background-color: white;
   border: 5px solid var(--color5);
}

table.benefits {
   max-width: 95%;
   display: block;
   margin: 2rem auto;
   padding: .5rem 2%;
   border-radius: 10px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.354);
}

table caption {
   padding: 10px;
   caption-side: bottom;
   font-size: 1rem;
   font-family: var(--paragraph-font);
}

table th[scope='col'] {
   border: 2px solid var(--color5);
   padding: 5px;
   background-color: var(--color1);
   color: var(--background-color);
   font-size: 16px;
}

table th[scope='row'] {
   border: 2px solid var(--color1);
   font-size: 16px;
   padding: 10px;
   text-align: left;
}

table td {
   border: 2px solid var(--color1);
   font-size: 18px;
   padding: 5px;
   text-align: center;
   height: 30px;
   width: 10%;
}

table tbody>tr:nth-child(even) {
   background-color: #c6e8f89a
}

/*################################ THANKS PAGE ######################################## */
.present_main{
   margin: 0;
   padding: 0;
   width: 100%;
   height: 50vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background: #000000;
   font-family: var(--paragraph-font);
   font-size: medium;
}

p{color: white;}











/* ##################### Directory Page ######################### */




.grid,
.list {
   display: grid;
   grid-template-columns: 1fr;
   text-align: center;
   grid-gap: 1rem;
   margin: auto;
   max-width: 400px;
   background-color: #003a13;
   padding: 1rem;
   border: solid black 1px;
   
}



section {
   width: 100%;
   background-color: rgb(56, 185, 73);
   margin: auto;
   border: solid black 1px;
   /* height:max-content; */

}

section h3 {
   color: rgb(255, 255, 255);
   font-family: var(--paragraph-font);

}

section img{
   box-shadow: 4px 4px 10px rgb(78, 78, 78);
   margin: 1rem;
   max-width: 100%;
   
}

section p{
   margin-left: 2px;
   margin-right: 2px;
}


@media only screen and (min-width:  35rem) {
   .grid{
       grid-template-columns: 1fr 1fr;
       max-width:  35rem;

   }

   section img{
       max-width: 80%;
       object-fit: cover;
       height: 200px;
       width: 200px;
       
   }
}

@media only screen and (min-width: 64rem) {
   .grid{
       grid-template-columns: 1fr 1fr 1fr 1fr;
       max-width: 64rem;

   }

   section img{
       max-width: 70%;
      
       object-fit:contain;
       height: 200px;
       width: 300px;
        justify-items: end; 
       
   }

   /* section {
       height: 100px;
   } */

}










/* 





.directoryMain {
   margin: 0 auto;
   max-width: 1500px;
   padding: 20px;
   background-color: whitesmoke;
}

.grid {
   display: grid;
   grid-template-columns:  1fr 1fr 1fr;
   text-align: center;
   grid-gap: 1rem;
   margin: auto;
   max-width: 500px;
   background-color: #003a13;
   padding: 1rem;
   border: solid black 1px;
   
} 


.dHeader{
   font-family: var(--heading-font);
   color: white;
   text-align: center;
   background-color: #003a13;
   padding: 40px;
   font-size: 37px;
   margin-bottom: 50px;
}


.grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}


section {
   max-width: 250px;
   background-color: rgb(56, 185, 73);
   margin: auto;
   border: solid black 1px;

}

section h2 {
   color: rgb(255, 255, 255);
   font-family: var(--paragraph-font);

}

section img{
   box-shadow: 8px 8px 15px black;
   margin: 1rem;
   max-width: 150px;
   
}  */


#grid{
   background-color: var(--background-color);
   border-radius: 40px;
   margin: 40px;
}

#grid img{
   margin: 3px;
   max-width: 40px;
}

#list{
   background-color: var(--background-color);
   border-radius: 40px;
   margin: 40px;
}


.list img{
    display: none;
}
.list h2, .list p, .list a{
    margin-left: 10px;
}
.list section{
    background-color: var(--color2);
    text-align: left;
    border: thin solid black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

