
body{
    margin: 0 auto;
    padding: .5rem;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: black;
    width: 700px;
}

li {
    letter-spacing: .6px;
    line-height: 25px;
}

header{
    display: flex;
    background-color: #004d70;;
    color: white;
    justify-content: left;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.mypic {
    box-shadow: 3px 3px 3px 3px rgba(187, 187, 187, 0.36);
    height: 25%;
    width: 25%;
    margin-right: 10%;
    border-radius: 1rem;
}

.main {
    padding: 1rem;
    color: black;
}

footer {
    background-color: #004d70;
    color: rgb(219, 219, 219);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 14px;
}

div,
#last_updated{
    color: rgb(205, 219, 6);
    font-size: .9em;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 5px;

}