@media only screen and (min-width: 35rem) {
    header img {
        width: 100px;
    }

    header h1 {
        font-size: 2rem;
    }

    header h2 {
        font-size: 1.5rem;
    }


    nav button {
        display: none;
    }


    nav ul {
        margin-left: 2%;
        margin-bottom: 0px;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }

    #color {
        width: 500px;
    }




    #Card{
        display: grid;
        margin: 5px;
        padding: auto;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-column: 4/5;
        grid-row: 1/1; */
        /* background-color: brown; */
      }

      form fieldset {
        margin: 2rem auto;
        max-width: 50%;
        border: 2px solid black;
        background-color: gainsboro;
        border-radius: 5px;
        padding: .5rem;
        box-shadow: rgb(207, 204, 204);
        color:var(--background-color);
    }


}